.services {
  padding-bottom: 80px;
  &__title-wrapper {
    margin-bottom: 70px;
    @media (max-width: $tablet-small) {
      margin-bottom: 20px;
    }
  }

  &__link {
    margin-bottom: 3px;
    opacity: 0.5;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 60px;

    @media (max-width: $tablet-wide) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 30px;
      grid-row-gap: 30px;
    }
    @media (max-width: $tablet-small) {
      display: flex;
      flex-direction: column;
      grid-row-gap: 40px;
    }
  }

  &__item {
  }

  &__item-img {
    margin-bottom: 20px;

    @media (max-width: $phone-wide) {
      margin: 0 10px 0 0;
    }
  }

  &__item-title {
    @extend %norms-medium;
    @include fontsize(24,28);
    color: $active-regular;
    transition: all 0.3s ease;
    @media (max-width: $phone-wide) {
      @include fontsize(18,21);
    }
    &:hover{
      color: $accent;
    }
  }

  &__item-text {
    @extend %norms-regular;
    @include fontsize(18,26);
    color: $white;
    @media (max-width: $phone-wide) {
      @include fontsize(16,22);
    }
  }

  
  &__item-wrapper {
    margin-bottom: 15px;

    @media (max-width: $phone-wide) {
      display: flex;
      align-items: center;

      margin-bottom: 10px;
    }
  }
}
.services-page{
  padding-top: 230px;
  @media (max-width: $tablet) {
    padding-top: 125px;
  }
}